/*Aquí empieza la sección de estudios*/
.estudios{

    text-align: center;
}

.estudios .universidad  img{
    width: 70%;
    height: 135px;
}

.estudios .carrera img{
    width: 60%;
    height: 135px;
}

.estudios .universidad{
    background-color: darken($colorEstudios, 50%);
    color: white;
}

.estudios .carrera{
    background-color: white;
    color: black;
}

.proyectos{
    text-align: center;
}