/******************Aquí inicia la sección de formulario******************/

.formulario{
    background-color: rgb(107, 68, 31);
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    color: white;
}