@charset "UTF-8";
/*Aquí empiezan los estilos de la portada*/
.portada {
  background-color: navy;
  color: white;
  text-align: center;
}

.imagencirculo {
  border-radius: 50%;
  background-image: url("../img/yo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.fondoimagen {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.foto {
  display: flex;
  justify-content: center;
}

header {
  background-color: black;
}

/*Aquí empieza la sección de estudios*/
.estudios {
  text-align: center;
}

.estudios .universidad img {
  width: 70%;
  height: 135px;
}

.estudios .carrera img {
  width: 60%;
  height: 175px;
}

.estudios .universidad {
  background-color: #243f1a;
  color: white;
}

.estudios .carrera {
  background-color: white;
  color: black;
}

/*--Aquí inicia la sección de proyectos*/
.proyectos {
  padding-top: 25px;
  text-align: center;
  background-color: #542b2b;
  color: white;
}
.proyectos img {
  width: 60%;
  height: 135px;
}

/******************Aquí inicia la sección de formulario******************/
.formulario {
  background-color: #6b441f;
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  color: white;
}

/*Aquí inicia la sección de video*/
.video {
  text-align: center;
  padding: 15px;
}
.video iframe {
  width: 55%;
  height: 50vh;
  border-radius: 7.5%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 35px;
}